# Ignore the .env file
.env

# Ignore the env folder (if applicable)
myenv/

Deep_Learning_Model/dataset_check/

Deep_Learning_Model/split_dataset

Deep_Learning_Model/brain-tumor-mri-dataset

split_dataset

brain-tumor-mri-dataset

Deep_Learning_Model/models

Deep_Learning_Model/brute_force_best_model.ipynb